<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOCK+GET</title>
</head>
<body>
<p>
	<br />
</p>
<p>
	<br />
</p>
<p>
	<br />
</p>
<h3>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>这是一个测试mock挡板对HTTP请求报文的网页</em></span><br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <em>方法</em><em>：</em><span style="font-size:32px;color:#DFC5A4;">GET</span>
</h3>
<p>
	<br />
</p>
<p>
	<br />
</p>
<h1 style="text-align:center;">
	<span style="color:#999999;">powered by mock...</span>
</h1>
<p>
	<br />
</p>
</body>
</html>